<div class="container-fluid homenav py-3">
    <div class="row">
      <div class="col-sm-4 text-center">
        <div class="navbar-brand">
          <i class="fa fa-facebook-f  navbrnd px-3"></i>
          <i class="fa fa-twitter  navbrnd"></i>
          <i class="fa fa-google-plus  navbrnd"></i>
          <i class="fa fa-youtube px-3 navbrnd"></i>
        </div>
      </div>
        <div class="col-sm-4 text-center">
          <div class="navbar-brand text-white"><i class="jjtravel">JJ-Travels</i></div>
        </div>
        <div class="col-sm-4 text-center">
          <p style="font-size:30px;"><i class="text-white">Chat online</i></p>
          <div class="nav">
            <a href="" class="nav-item nav-link active navtext">HOME</a>
            <a href="" class="nav-item nav-link navtext">ABOUT</a>
            <a href="" class="nav-item nav-link navtext">CONTACT</a>
          </div>
        </div>
      </div>    
        <div class="row sticky-top">
          <div class="col-sm-12">
            <div class="container mt-4">
              <div class="card text-center crd">
                <div class="card-body">
                  <div class="nav  justify-content-center">
                    <a href="" class="nav-link nav-item navcardtext">CAR <i class="fa fa-car fa-2x  text-danger"></i></a>
                    <a href="" class="nav-link nav-item navcardtex">BUS <i class="fa fa-bus fa-2x text-primary"></i></a>
                    <a href="" class="nav-link nav-item navcardtex">TRAIN <i class="fa fa-train fa-2x text-warning"></i></a>
                    <a href="" class="nav-link nav-item navcardtex">FLIGHT <i class="fa fa-plane fa-2x text-info"></i></a>
                    <a href="" class="nav-link nav-item navcardtex">TOUR PACKAGE <i class="fa fa-child fa-2x bg-sucess"></i></a>
                    <a href="" class="nav-link nav-item navcardtex">MOVIES <i class="fa fa-ticket fa-2x  ticketicon"></i></a>
                  </div>
                </div> 
              </div> 
            </div>
          </div>
        </div>         
  </div>  
