
<footer class="py-5 footcont">
    <div class="container">
       <div class="row ">
           <div class="col-sm-3">
               <h3 id="foot"><i>Jj Travells</i></h3>
              <p class="footcol1">So we thought to give it a hand to help you! JJ Travels is not just a travel agent.</p>
              <p class="footcol1">It's a travel Friend of yours when you think for your travel plan. 
               We can book tickets for your flights, trains and buses. You can book a car from Bhubaneswar to anywhere in Odisha...</p>           
           </div>
           <div class="col-sm-3">
             <h3 class="text-white">Quick Links</h3>
             <div class="progress w-75" style="height: 2px;">
               <div class="progress-bar " role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
             <div class="text-white mt-1">
                 <h6>CAR</h6>
                 <h6>BUS</h6>
                 <h6>TRAIN</h6>
                 <h6>FLIGHT</h6>
                 <h6>TOUR PACKAGE</h6>
                 <h6>MOVIES</h6>
             </div>
           </div>
           <div class="col-sm-3 text-white">
               <h3>Keep In Touch</h3>
               <div class="progress w-75" style="height: 2px;">
                 <div class="progress-bar " role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
               </div>
               <p>JJ Travels.<br>
               In front of MIG-II, 54/5<br>
               Housing Board Colony,<br>
               Chandrasekharpur,<br>
               Bhubaneswar, Odisha.<br>>
               (Near Duraga Mandap Filed, CS Pur)</p>
           </div>
           <div class="col-sm-3 text-white">
             <h3>Quick Contact</h3>
             <div class="progress w-75" style="height: 2px;">
               <div class="progress-bar " role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
             </div>
             <form class="form-group">
               <input type="text" class="form-control form-control-sm footfrm" placeholder="Your Name">
               <input type="email" class="form-control form-control-sm footfrm" placeholder="Email-Id">
               <input type="number" class="form-control form-control-sm footfrm" placeholder="Mobile No">
               <textarea class="form-control form-control-sm footfrm" rows="3"> Your Requirement Details</textarea>
               <button class="btn btn-danger btn-sm px-5 mt-2">send</button>
             </form>
           </div>
       </div>
     </div> 
 </footer>
