<div class="container-fluid  maindiv text-center">
    <h1 class="maindivh1 w-80">Why long queues when everything goes online now !</h1>
    <h2 class="maindivh1 w-75 mt-2">Book a car or get your tickets from anywhere </h2>
    <h2 class="maindivcall mt-4 w-25">Call 9861312354</h2>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <h2 class="text-danger">Jay Jagannath Travels</h2>
            <p>It's a try to serving you an amazing travel experience.</p>
            <p>The problems in ticket booking always ruins our experience</p>
            <p>So we thought to give it a hand to help you! JJ Travels is not just a travel agent.</p>
            <p>It's a travel Friend of yours when you think for your travel plan. We can book tickets for your flights, trains and buses. You can book a car from Bhubaneswar to anywhere in Odisha.</p>
        </div>
        <div class="col-sm-4 a">
            <div id="enqueryform">
                <h3 class="text-white text-center">ENQUERY NOW</h3>
                <form class="form-group w-75 m-auto">
                    <input type="text" class="form-control form-control-sm forminput" placeholder="Your Name">
                    <input type="email" class="form-control form-control-sm forminput" placeholder="Email Id">
                    <input type="number" class="form-control form-control-sm forminput" placeholder="Mobile Number">
                    <select class="form-control form-control-sm forminput">
                        <option>-Selec Destination-</option>
                        <option>bhubaneswar</option>
                        <option>cuttack</option>
                        <option>puri</option>
                        <option>roulkela</option>
                        <option>bhadrak</option>
                        <option>bermpur</option>
                        <option>kendrapara</option>
                    </select>
                    <textarea rows="3" class="form-control form-control-sm forminput">Your requerment Details</textarea>
                    <button class="btn btn-danger btn-sm px-5 mt-2">send</button>
                </form>
            </div>
        </div>
    </div>
</div>
